@media screen and (min-width:992px) and (max-width: 1920px)
{

.content{
    margin: auto;
}
.reserver h3{
    width: 40%;
}
#fonctionnement h3{
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 20px;
}
#restaurants{
display: flex;
flex-wrap: wrap;
}
#restaurants h4{
    width: 100%;
    margin-bottom: 20px;
    font-size: 25px;
    padding-left: 20px;
    box-shadow: none;
}
.carte{
    width: 40%;
    height: 250px;
    margin: auto;
    margin-bottom: 40px;
    box-shadow: grey 2px 1px 1px 1px;
}
.carte .coeur:hover .normal .fa-regular{ 
    background: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
   -webkit-background-clip: text;
    color: transparent; 
    cursor: pointer;  
}                                 
.carte .coeur .transition .fa-heart{
    font-weight: bold;
    color: white;
}
.carte .coeur:hover .transition .fa-heart{                            
   background: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
   -webkit-background-clip: text;
    color: transparent; 
    cursor: pointer;  
    animation: remplissage 1s linear;
} 
.plat a .prix b{
    font-size: 14px;
    margin-left: 680px;
    margin-bottom: 30px;
 }
footer .bas-de-page{
    width: 85%;
    margin: auto;
}
footer ul{
    width: 85%;
    margin: auto;
}    
                             /* Couleur du Coeur ...*/
    
    #menu .coeur:hover .normal .fa-regular{ 
        background: linear-gradient(180deg, #9356dc, #ff79da);
        background-clip: text;
       -webkit-background-clip: text;
        color: transparent; 
        cursor: pointer; 
        pointer-events: auto;   
    }                                 
    #menu .coeur .transition .fa-heart{
        font-size: 24px;
        font-weight: bold;
        color: #f2f2f2;  
    }
    #menu .coeur:hover .transition .fa-heart{                            
       background: linear-gradient(180deg, #9356dc, #ff79da);
        background-clip: text;
       -webkit-background-clip: text;
        color: transparent; 
        cursor: pointer; 
        pointer-events: auto;  
        animation: remplissage 0.8s linear;
    }
    #menu h4{
        width: 40%;
    }
}












    














