@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400&family=Shrikhand&display=swap");

*, ::before, ::after{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100%;
    margin:0px;
    font-family: "Roboto", sans-serif;
}
header, main{
    background-color: #f2f2f2;
}
#haut-de-page .logo img{
    font-family: "Shrikhand", cursive;
    width: 200px;
    margin-left: 28%;
}
#haut-de-page h1{
    background-color: white;
}
#haut-de-page .localisation{
    position: relative;
    top: -18px;
    height: 65px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    background-color: #e7e2e2;
    box-shadow: #cfcdcd 0px 3px 3px 0px inset;
    border-bottom: #f2f2f2 1px solid;
}
    #haut-de-page .fa-solid{
    padding-right: 20px;
    font-size: 21px;
}
#haut-de-page .reserver{
   position: relative;
   top: -50px;
   padding: 20px;
    height: 340px;
    background-color: #f2f2f2;
}
#haut-de-page .reserver h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#haut-de-page .reserver span{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}
#haut-de-page .reserver h4{
    height: 55px;
    width: 65%;
    border-radius: 50px;
    background: #9356dc;
    background: linear-gradient(175deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    margin-left: 18%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
    color: white;
}
#haut-de-page .reserver h4:hover{
    box-shadow:  3px 3px 3px 2px lightgrey;
    background: linear-gradient(175deg, rgb(243, 150, 217) 0%, rgb(182, 121, 239) 100%);
}
#fonctionnement{
    background-color: white;
    padding-left: 5%;
    padding-bottom: 40px;
}
#fonctionnement h1{
  font-weight: bold;
}
#fonctionnement a{
    text-decoration: none;
    color: black;
}
#fonctionnement .button{
    margin-bottom: 10px;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 80px;
    background-color: #f2f2f2;
    border-radius: 25px;
    text-align: center;
    padding: 30px;
    box-shadow:  10px 7px 8px 0px lightgrey;
}
#fonctionnement .button p{
    position: relative;
    left: -40px;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    border-radius: 50px;
    background-color: #9356dc;
    color: white;
    font-size: 16px;
}
#fonctionnement .button .fa-solid{
    position: relative;
    left: -15px;
    color: grey;
    padding-right: 20px;
    font-size: 25px;
}
#fonctionnement .button:hover{
    background-color:#f7f0ff ; 
    transition: 50ms;
}
#fonctionnement .button:hover .fa-solid{
    color:#9356dc
}
#fonctionnement .button span{
    position: relative;
    left: -15px;
    font-size: 18px;
    font-weight: bold;
}
#fonctionnement .button:hover span{
    color:black;
}
.nouveau{
    width: 92px;
    height: 35px;
    background-color: #99e2d0;
    color: #31926d;
    position: relative;
    right: -70%;
    top: -180px;
    text-align: center;
    padding-top: 8px;
}
#restaurants{
    width: 100%;
    padding: 20px;
}
#restaurants h1{
    font-size: 26px;
    margin-left: 1%;
}
.cartes-restaurants{
    width: 90%;
}
.carte{
background-color: white; 
width: 100%;
height: 270px;
border-radius: 20px;
}
.carte a{
    text-decoration: none;
}
.carte h2, p{
    color: black;
    font-size: 20px;
}
.carte .carte-image{
    width: 100%;
    height: 190px;
}
.carte .carte-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.carte .carte-nom{
   padding-inline: 15px;
   line-height: 1;
}
.carte .lieu{
    position: relative;
    top: -15px;
    font-weight: lighter;
}
i.fa-regular {
  position: relative;
  right: -85%;
  top: -50px;
  font-size: 22px;
  color: black;
}
i.fa-regular:active{
    background: linear-gradient(90deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    color:transparent; 
    transition: 50ms;
    cursor: pointer;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 10px;
}
.bas-de-page{
    font-family: "Shrikhand";
    font-size: 18px;
    margin-left: 40px;
    
}
footer ul li{
list-style-type: none;
padding: 5px;
font-size: 15px;
font-weight: bold;
}
footer .fa-solid{
    padding-right: 10px;
}
footer a{
    text-decoration: none;
    color: white;
}

/* Menus*/

header{
    background-color: white;
}
header h1{
    display: flex;
    align-items: center;
}
header h1 a{
    color: black;
}
header .logo .fa-solid{
    font-size: 25px;
    padding-left: 15px;
}
main{
    background-color: #f2f2f2;
}
.logo-restaurant{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;   
}
.logo-restaurant img{
    width: 200px;
    margin-left: 20%;
}
.logo-restaurant .fa-solid{
    color: black;
    margin-left:20px;
    font-size: 25px;
}
.photo img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#menu{
   background-color: #f2f2f2;
   position: relative;
   top: -50px;
   border-radius: 45px 45px 0 0; 
   padding-top: 10px;
   padding-left: 20px;
   height: auto;
   width: 100%;
}
#menu h1{
    font-family:"Shrikhand"; 
    font-weight: normal;
    font-size: 30px;
}
#menu i.fa-regular{
display: block;
display: flex;
flex-direction: row;
justify-content: space-around;
position: relative;
top: -60px;
right: -130px ;
font-size: 25px;
color: black;
}
#menu .carte{
    position: relative;
    top: -30px;
}
#menu h2{
    font-size: 18px;
    font-weight: lighter;
}
#menu h2 span{
    border-bottom-style: solid;
    border-bottom-color: #99e2d0;
}
#menu .plat{
    width: 95%;
    height: 75px;
    background-color: white;
    border-radius: 20px;
    padding-left: 5px;   
}
#menu .plat span{
    display: none;
}
#menu .plat:hover span{
    display: inline;
}
#menu .plat:hover{
    width: 80%;
    text-transform: ; /* -----*/
}
#menu .animation{
    height: 80px;
    width: 20%;
    border-radius: 0 20px 20px 0;
    background-color: #99e2d0;
    position: relative;
    top: -93px;
    right: -80%;

}
#menu .animation:hover{


}
#menu .animation .fa-solid{
    max-width: 20px;
    width: 20px;
    border-radius: 50px;
    color: white;
    position: absolute;
    bottom: 28px;
    right: 40px;
    font-size: 25px;
}
#menu .plat p{
    font-size: 16px;
    font-weight: lighter;
    position: relative;
    top: -13px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}  
#menu .plat b{
    padding-right: 25px;
}
#menu h3{
padding-left: 10px;
padding-top: 15px;
}
#menu h4{
    height: 55px;
    width: 50%;
    border-radius: 50px;
    background: #9356dc;
    background: linear-gradient(175deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    margin-left: 21%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
    color: white;
}
#menu h4:hover{
    box-shadow:  3px 3px 3px 2px lightgrey;
    background: linear-gradient(175deg, rgb(243, 150, 217) 0%, rgb(182, 121, 239) 100%);
}
.entrees, .plats, .desserts{
    padding-bottom: 30px;
}

