@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400&family=Shrikhand&display=swap");

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100vw;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
header{
    background-color: white;
}
main{
    background-color:#f2f2f2;
}
#haut-de-page h1{
    font-family: "Shrikhand", cursive;
    height: 55px;
    font-size: 26px;
    padding: 10px;
    text-align: center;
    background-color: white;
}
#haut-de-page .localisation{
    height: 50px;
    padding: 12px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    background-color: #e7e2e2;
    box-shadow: #cfcdcd 0px 3px 3px 0px inset;
    border-bottom: #f2f2f2 1px solid;
}
#haut-de-page .fa-solid{
    padding-right: 20px;
    font-size: 18px;
}
.reserver{
    background-color: #f2f2f2;
    padding: 50px;
    padding: ;
}
.reserver h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.reserver p{
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    
}
.reserver h3{
    height: 52px;
    width: 95%;
    border-radius: 50px;
    background: #9356dc;
    background: linear-gradient(175deg,#ff79da 0%, #9356dc 100%);
    margin-left: 5%;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
    color: white;
}
.reserver h3:hover{
opacity: 0.8;
box-shadow:  3px 3px 3px 2px lightgrey;
}
#fonctionnement{
background-color: white;
   padding-top: 30px;
   padding-right: 15px;
   padding-left: 15px;
   padding-bottom: 50px;
   
}
#fonctionnement h1{
  font-weight: bold;
  margin-bottom: 20px;
}
#fonctionnement a{
    text-decoration: none;
    color: black;
}
#fonctionnement .button{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #f2f2f2;
    border-radius: 25px;
    text-align: center;
    padding: 30px;
    box-shadow:  10px 7px 8px 0px lightgrey;
}
#fonctionnement .button p{
    position: relative;
    left: -40px;
    width: 25px;
    height: 25px;
    padding-top: 6px;
    border-radius: 50px;
    background-color: #9356dc;
    color: white;
    font-size: 14px;
}
#fonctionnement .button .fa-solid{
    position: relative;
    left: -15px;
    color: grey;
    padding-right: 20px;
    font-size: 19px;
}
#fonctionnement .button:hover{
    background-color:#f7f0ff ; 
    transition: 50ms;
}
#fonctionnement .button:hover .fa-solid{
    color:#9356dc
}
#fonctionnement .button span{
    position: relative;
    left: -15px;
    font-size: 16px;
    font-weight: bold;
}
#fonctionnement .button:hover span{
    color:black;
}
.nouveau{
    width: 92px;
    height: 35px;
    background-color: #99e2d0;
    color: #31926d;
    position: relative;
    right: -68%;
    top: -170px;
    text-align: center;
    padding-top: 8px;
}
#restaurants{
    width: 100%;
    padding: 20px;
}
#restaurants h1{
    font-size: 26px;
    margin-left: 1%;
}
.cartes-restaurants{
    width: 90%;
}
.carte{
background-color: white; 
width: 100%;
height: 250px;
border-radius: 20px;
margin-top: 25px;
}
.carte a{
    text-decoration: none;
    color: black;
}
.carte h2, p{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.carte .carte-image{
    width: 100%;
    height: 180px;
}
.carte .carte-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.carte .carte-nom{
    padding: 12px;
}
.carte .lieu{
    padding-top: 3px;
    font-weight: lighter;
}
.carte .coeur{
    position: relative;
    right: -80%;
    top: -50px;
}                            
.carte .coeur .fa-regular{
    position: relative;
    right: -25px;
    font-size: 22px;  
}                                      /* Couleur du Coeur ...*/   
.carte .coeur:active .fa-regular{
    background: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}
.carte .coeur .fa-solid{
    color: transparent;
    font-size: 21px;
}
.carte .coeur:active .fa-solid{                            
   background: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
   -webkit-background-clip: text;
    color: transparent; 
    cursor: pointer;
    transition: 1s;
                                 /* Fin couleur Coeur ... */
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 10px;
}
.bas-de-page{
    font-family: "Shrikhand";
    font-size: 18px;
    margin-left: 40px;
    
}
footer ul li{
list-style-type: none;
padding: 5px;
font-size: 15px;
font-weight: bold;
}
footer .fa-solid{
    padding-right: 10px;
}
footer a{
    text-decoration: none;
    color: white;
}

                                       /* Menus*/
.logo-restaurant {
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-restaurant img{
    width: 150px;
}
.logo-restaurant .fa-solid{
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 70px;
}
.photo img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#menu{
   background-color: #f2f2f2;
   position: relative;
   top: -50px;
   border-radius: 45px 45px 0 0; 
   padding: 10px;
   height: auto;
   width: 100%;

}
#menu h1{
    font-family:"Shrikhand"; 
    font-weight: normal;
    font-size: 24px;
    padding: 10px;
}
#menu a{
    text-decoration: none;
    color: black;
}
#menu .coeur{
position: relative;
top: -40px;
right: -75% ;
font-size: 24px;
}
#menu .coeur .fa-regular{
position: relative;
right: -32px;
}   
                           /* Animation coeur ..*/
#menu .coeur:active .fa-regular{
    background: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}
#menu .coeur .fa-solid{
    color: transparent;
    font-size: 25px;
}
#menu .coeur:active .fa-solid{                            
   background: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
   -webkit-background-clip: text;
    color: transparent; 
    cursor: pointer;
    transition: 1s;
}
                                  /* Fin Animation Coeur */
#menu h2{
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 20px;
}
#menu h2 span{
    border-bottom-style: solid;
    border-bottom-color: #99e2d0;
    padding-bottom: 5px;
}
#menu .plat{
    max-width: 100%;
    height: 75px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;   
    
}
#menu .plat p{
    font-size: 18px;
    font-weight: lighter;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}  
#menu .plat b{
    padding-right: 20px;
}
                            /* animation check */
#menu .plat .check{
    height: 75px;
    width: 22%;
    border-radius: 0 20px 20px 0;
    background-color: transparent;
    position: relative;
    top: -60px;
    right: -95%;
    
} 
#menu .plat .check .icone .fa-solid{
    width: 26px;
    color: #f2f2f2;
    font-size: 24px;
   position: relative;
   bottom: -25px;
   right: -30%;
}
#menu .plat:hover .check{
    background-color: #99e2d0;
    transform: translate(-55px,0);
    transition: transform 500ms linear;     
}  
#menu .plat:hover .check .icone .fa-solid{
 transform:rotate(1turn);
 transition: transform 500ms linear;   


}
                      /* fin animation check */

#menu h3{
padding-left: 10px;
padding-top: 15px;
}
#menu h4{
    height: 52px;
    width: 55%;
    border-radius: 50px;
    background: #9356dc;
    background: linear-gradient(175deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    margin-left: 21%;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 16px;
    text-align: center;
    color: white;
}
#menu h4:hover{
    box-shadow:  3px 3px 3px 2px lightgrey;
    opacity: 0.8;
}                         

                            /* Apparition progressive.. */
#menu .entrees, .plats, .desserts{
   padding-right: 5px;
   margin-bottom: 20px;
   margin-top: 10px;
}

    @keyframes progressif {
        0%  { margin-top: -70px;opacity:0; }
        80% { margin-top: 0px;opacity:0.3; }
        100%{ margin-top: 0px; opacity: 1; }
        }
.plat{
    animation: progressif 1s ease-out 500ms forwards; opacity: 0;
}
@keyframes transition {
    0% { }
    
}