@media screen and (min-width: 768px) and (max-width: 991px)
{

    body{
        margin: 0;
    }
#haut-de-page h1{
    font-size: 28px;
}
.réserver h2{
    font-size: 18px;
}
.reserver p{
    font-size: 16px;
}
.reserver h3{
    width: 35%;
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
}
#fonctionnement{
    width: 100%;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 50px;
}
#fonctionnement h3{
    width: 65%;
    margin: auto;
    margin-bottom: 20px;
}
#fonctionnement .div-button{
    width: 65% ;
    margin: auto;
}
#fonctionnement .button{
    width: 100%;
}
.nouveau{
   position: relative;
   right: -65%;
}
#restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#restaurants h4{
    width: 75%;
    font-size: 22px;
    margin-bottom: 10px;
}
.carte{
    width: 35%;
    margin: 15px;
}
.carte h2, p{
    font-size: 16px;
}
.carte .coeur{
    position: relative;
    right: -75%;
 }
                    /* Menus ..*/

.logo-restaurant img{
    width: 180px;
}
.photo img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#menu .coeur{
    margin-left: 15px;
}
#menu h2{
    font-size: 15px;
    width: 50%;
}

footer .bas-de-page{
    width: 80%;
    margin: auto;
}
footer ul{
    width: 80%;
    margin: auto;
}
}
    
