@media screen and (min-width: 768px) and (max-width: 991px)
{
body{
    margin: 0 auto;
}
#haut-de-page h1{
    font-size: 28px;
}
.réserver h2{
    font-size: 18px;
}
.reserver p{
    font-size: 16px;
}
.reserver h3{
    width: 35%;
    font-size: 14px;
    margin: auto;
    margin-top: 30px;
}
#fonctionnement{
    width: 100%;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 50px;
}
#fonctionnement h3{
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}
#fonctionnement .div-button{
    width: 70% ;
    margin: auto;
}
#fonctionnement .button{
    width: 100%;
}
.nouveau{
    position: relative;
    right: -65%;
}
#restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#restaurants h4{
    width: 75%;
    font-size: 22px;
    margin-bottom: 10px;
    box-shadow: none;
}
.carte{
    width: 35%;
    margin: 15px;
}
.carte h2, p{
    font-size: 16px;
}
.carte .coeur{
    position: relative;
    right: -75%;
 }
 .coeur:hover .normal .fa-regular{ 
    background: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
   -webkit-background-clip: text;
    color: transparent; 
    cursor: pointer;  
}                                 
.carte .coeur .transition .fa-heart{
    font-weight: bold;
    color: white; 
}
.coeur:hover .transition .fa-heart{                            
   background: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
   -webkit-background-clip: text;
    color: transparent; 
    cursor: pointer;  
    animation: remplissage 0.8s linear;
} 

                    /* Menus ..*/

.photo img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#menu .coeur{
    margin-left: 15px;
}
#menu h2{
    font-size: 15px;
    width: 50%;
}
#menu .coeur{
    position: relative;
    top: -55px;
    right: -75% ;
    font-size: 24px;
    color: black;
    }
    #menu .coeur .normal .fa-regular{
    position: relative;
    font-size: 24px;
    right: -24px;
    }  
                             /* Couleur du Coeur ...*/
    
    #menu .coeur:hover .normal .fa-regular{ 
        background: linear-gradient(180deg, #9356dc, #ff79da);
        background-clip: text;
       -webkit-background-clip: text;
        color: transparent; 
        cursor: pointer; 
        pointer-events: auto;   
    }                                 
    #menu .coeur .transition .fa-heart{
        font-weight: bold;
        color: #f2f2f2;  
    }
    #menu .coeur:hover .transition .fa-heart{                            
       background: linear-gradient(180deg, #9356dc, #ff79da);
        background-clip: text;
       -webkit-background-clip: text;
        color: transparent; 
        cursor: pointer; 
        pointer-events: auto;  
        animation: remplissage 0.8s linear;
    }
    .plat a .prix b{
        font-size: 14px;
        margin-left: 680px;
        margin-bottom: 30px;
     }
footer .bas-de-page{
    width: 75%;
    margin: auto;
}
footer ul{
    width: 75%;
    margin: auto;
}
}

    
